@font-face {
  font-family: Montserrat;
  src: url("/assets/fonts/Montserrat.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url("/assets/fonts/Poppins.ttf") format("truetype");
  font-display: swap;
}

:root {
  --border: #1d242b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* background-color: #c7eeff; */
}

body {
  border: 1px solid var(--border);
  max-width: 1024px;
  height: 100dvh;
  margin: 0 auto;
  border-radius: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "info info content content content"
    "info info content content content"
    "info info content content content"
    "info info content content content"
    "info info content content content";
}

.info {
  grid-area: info;
  border: 1px solid red;
}

.content {
  grid-area: content;
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "info"
      "content";
  }
}
